.project_Detail{
    width: 50vw;
    position: relative;
    top:15vh;
    left: 43%;
    height: auto;
    margin: -15vh 0 0 -20vw;
    z-index: 1;
    font-size: 1.5rem;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    line-height: 2rem;
    letter-spacing:2px;
}
.project_Detail img{
    position: relative;
    width: 80%;
    left: 10%;
 
}
.project_Detail h1{
    font-family: "LBS";
    font-size: 6rem;
    letter-spacing: 10px;
    font-weight: 300;
}
.project_Detail h2{
    font-family: "LBS";
    font-size: 3rem;
    letter-spacing: 5px;
    font-weight: 200;
}
.project_Detail a{
    text-decoration:none;
    font-weight: bolder;
    color: rgb(44, 44, 44);
}
.project_Detail a:hover{
    text-decoration:none;
    font-weight: bolder;
    color: rgb(170, 170, 170);
}
.project_Detail blockquote p::before{
    font-size: 1.2rem;
    color: rgb(39, 39, 39);
    font-weight: bold;
    content: "* ";
}
.project_Detail blockquote p{
    font-size: 1.2rem;
    color: rgb(39, 39, 39);
    font-weight: bold;
    content: "* ";
}

