$header-text-color:rgb(61, 61, 61);
$project-content-width:30vw;
.projectListElement{
    box-sizing: border-box;
    height: 60vh;
    
}
.project_img{
    position: relative;
    width: 50vw;
    height: 35vh;
    float: left;
}
.project_img_middle{
    position: absolute;
    width: 50vw;
    height: 35vh;
    float: left;
    opacity:0;
    transition: .8s ease;
}
.project_img_middle:hover{
    position: absolute;
    float: left;
    opacity:0.3;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.project_content{
    position: relative;
    width: $project-content-width;
    float: left;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    margin-top: 0%;
    margin-left: 3rem;
    line-height: 1.8rem;

}
.project_category{
    position: relative;
    float: left;
    margin-top: 0%;
    padding: 0.3rem;
    margin-left: 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: rgb(58, 58, 58);
    color: white;
    font-weight: bolder;
    line-height: 1.5rem;
}
.projectCategoryList{
    position: relative;
    width: $project-content-width;
    float: left;
    margin-left:2rem;
    margin-bottom:0.5rem;
}
.projectLinkList{
    position: relative;
    width: $project-content-width;
    float: left;
    height: 10vh;
    margin-left: 3rem;
    margin-right: 3rem;
}
.projects{
    display: flex;
    flex-direction: column;
}
.project_title{
    font-family: "LBS";
    font-size: 5rem;
    color: rgb(88, 88, 88);
    margin-top:20px;
    margin-bottom:20px;
    transition: 1s ease!important;
    letter-spacing:8px;
    font-weight:300;
}
.project_title:hover{
    color: rgb(223, 223, 223);
    margin-left: 1rem;
    margin-top:20px;
    margin-bottom:20px;
}
.project_link{
    text-decoration:none;
    color:$header-text-color;
    font-size: 1rem;
    font-weight: bolder;
    line-height: 2rem;
}
.project_link:hover{
    text-decoration:none;
    color:rgb(187, 187, 187);
}
.project_main{
    letter-spacing:4px;
   
}
hr{
    border: none;
    height: 0.1px;
    color: rgb(199, 199, 199); 
    background-color: rgb(190, 190, 190); 
}
.projectLinkList li{
    color: rgb(199, 199, 199); 
}