@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
body{
  background-color:#ffffff;
  font-family:'Source Sans Pro', monospace,"Gill Sans", sans-serif;
}
.App{
  width: 90vw;
  margin: auto;
  margin-bottom: -20px;
  padding-bottom: 20px;
  padding: 1.25rem 1rem;
}
.container{
  margin-top: 3rem;
}
.footer{
  position: fixed;
  margin-bottom: 0;
  height: 30px;
  width: 100%;
  color: gray;
  bottom: 2vh;
  left: 45vw;
}
@font-face{
  font-family: "LBS";
  src :url(./styles/fonts/LM.otf)format('truetype');
}
@font-face{
  font-family: "LM";
  src :url(./styles/fonts/LM.otf)format('opentype');
}