
.main{
    position: absolute;
    display: flex;
    flex-direction: column;
}
.range{
    position: absolute;
    margin-top: 45vh;
    margin-left: 4vw;
    display: flex;
    flex-direction: column;

}
.btn{
    position: absolute;
    margin-top: 35vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
}
.range_slider{
    margin: 60px;
    width: 15vh;
    background: rgb(255, 255, 255);
    height:3px;
    border:none;
    outline: none;
    -webkit-appearance:none;
}
.range_slider::-webkit-slider-thumb{
    background:white;
    -webkit-appearance: none;
    width: 1vh;
    height: 1vh;
    background: #ffffff;
    cursor:pointer;
}
